@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */

@layer base{
    * {
        @apply scroll-smooth;
    }

    body {
        @apply min-h-dvh text-white bg-black overflow-x-hidden font-manrope font-medium;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold;
    }
    h1 {
        @apply text-[clamp(1.75rem,1.1578947368421053rem+2.9605263157894735vw,4rem)];
    }
    h2 {
            @apply text-[clamp(1.7rem,1.3285714285714285rem+1.8571428571428572vw,3rem)];
    }
    h3 {
        @apply text-[clamp(1.6rem,1.342857142857143rem+1.2857142857142856vw,2.5rem)] ;
    }
    h4 {
        @apply text-[1.4rem] ;
    }
    h5 {
        @apply text-[1.25rem];
    }
    h6 {
        @apply text-[1rem];
    }

    p,
    span,
    li,
    a,b {
        @apply text-[14px] leading-loose;
    }
    a{
        @apply hover:scale-105 duration-500
    }
    header a{
        @apply hover:text-inherit duration-500
    }
    footer a{
        @apply hover:font-bold 
    }

    ul,ol{
        @apply space-y-1 mb-1.5 ml-8
    }
    ul{
        list-style: outside;
        /* margin-left: 2rem; */
    }
    ol{
        list-style: decimal;
        /* margin-left: 1rem; */
    }
}


/* Custom utilities */

@layer utilities{

    /* NavBar */

    .blurNavbar {
        background-color: #3f405a40;
        backdrop-filter: blur(20px);
    }

    /* Section Header */

    .sectionHeaderWidth{
        @apply w-[90%] sm:w-[70%] mx-auto text-center
    }
    .sectionHeaderSubtextWidth{
        @apply text-[16px]
    }

    /* Buttons */
    .primaryButton{
        @apply cursor-pointer px-6 py-3 text-center text-sm text-nowrap font-bold rounded-md duration-500 text-white bg-custom-primary border border-custom-primary hover:shadow-sm 
    }

    .outlineButton{
        @apply cursor-pointer px-6 py-3 text-center text-sm text-nowrap font-bold rounded-md duration-500 text-white  border border-white hover:shadow-sm 
    }



/* Tiptap Rich Text Editor */

/* Basic editor styles */
.tiptap:first-child {
    margin-top: 2rem !important;
    outline: none !important;
}

.tiptap p.is-empty::before {
    content: attr(data-placeholder);
    color: #999;
    font-style: italic;
  }

/* Code and preformatted text styles */
pre {
    background: #767582; /* Dark background for code blocks */
    border-radius: 0.5rem;
    color: white;
    font-family: 'JetBrainsMono', monospace;
    margin: 1rem 0;
    padding: 0.75rem 1rem;
    white-space: pre-wrap; /* Allow line wrapping */
    word-wrap: break-word;
}

code {
    background: none; /* Remove background color */
    color: inherit; /* Inherit text color from parent */
    font-size: 0.85rem;
    padding: 0; /* Remove padding */
}

/* Blockquote styles */
blockquote {
    border-left: 3px solid #767582;
    margin: 1rem 0;
    padding-left: 1rem;
}

/* Horizontal rule */
hr {
    border: none;
    border-top: 1px solid #767582;
    margin: 1rem 0;
}

/* Multi Select Dropdown */

.multi-select-dropdown .dropdown-option {
    display: flex !important;
    align-items: center !important;
    gap: 6px !important; /* Reduce the gap between checkbox and text */
    padding: 4px 8px !important; /* Adjust padding */
  }
      
}


